---
const links: { name: string; href: string }[] = [
  { name: "Posts", href: "/posts" },
  { name: "Projects", href: "/projects" },
  { name: "Music", href: "/music" },
  { name: "Now", href: "/now" },
];
---

<footer class="mt-16">
  <div class="flex justify-center gap-5">
    {
      links.map((link) => (
        <a
          href={link.href}
          rel="noopener noreferrer"
          class="no-underline group inline-flex items-center text-gray-500 hover:text-gray-800"
        >
          <span>{link.name}</span>
        </a>
      ))
    }
  </div>
</footer>
