<header class="flex justify-between">
    <nav>
        <a href="/" class="font-semibold">Riyon Aryono</a>
    </nav>
    <div class="flex gap-6 text-sm">
        <a href="/blog">Blog</a>
        <a href="mailto:hello@riyonaryono.me">Email</a>
    </div>
</header>

<style>
    @reference "../styles/global.css";
    a {
        @apply no-underline hover:text-black transition-colors;
    }
</style>
