---
const links: { name: string; href: string }[] = [
  { name: "Github", href: "https://github.com/dilarangoding" },
  { name: "Email", href: "mailto:hello@riyonaryono.me" },
  { name: "LinkedIn", href: "https://www.linkedin.com/in/riyonaryono/" },
  { name: "RSS", href: "/rss.xml" },
];
---

<header>
  <nav class="flex gap-5">
    <a href="/">
       <span>Home</span>
    </a>
    {
      links.map((link) => (
        <a
          href={link.href}
          target="_blank"
          rel="noopener noreferrer"
          class="group inline-flex items-center"
        >
          <span>{link.name}</span>
        </a>
      ))
    }
  </nav>
</header>

<style>
  @reference "../styles/global.css";
  a {
    @apply text-gray-500 hover:text-gray-800;
  }
</style>
